.backdrop {
  position: relative;
}

.imageDescriptionWrapper {
  padding: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.modalImage {
  max-height: 50%;
  overflow: hidden;
}

.accent {
  font-weight: 700;
}

.imageBtnWrapper {
  position: relative;
}

.likeBtn {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  background-color: transparent;
  outline: none;
  border: none;

  background-color: #fff;
  color: #bb3434;
  border-radius: 50%;

  transition: box-shadow 250ms linear;
}

.likeIcon {
  transition: color 250ms linear;
}

.likeBtn:hover {
  box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.75);
}

.likeBtn:hover .likeIcon {
  color: #970000;
}
